<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\InventoryDistanceBasedSourceSelectionApi\Model\GetLatsLngsFromAddress">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="google" xsi:type="object">MageSuite\GoogleApi\Model\DistanceProvider\GoogleMap\GetLatsLngsFromAddress</item>
            </argument>
        </arguments>
    </type>
</config>
